<footer class="page-footer">
  <div class="container" >

    <div class="row">
      <div class="col-xs-12 col-sm-5 offset-sm-1">
        
        <ul class="list-unstyled">
          <li><a href="mailto:{{ site.email }}">contact</a></li>
          <li class="rss-subscribe">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">fils RSS</a>
          </li>
        </ul>
        
        <hr class="fine" >

        <ul class="list-unstyled list-social" >
          {% for currentLink in site.data.ownedLinks %}
          <li class="list-item-custom">
              <a href="{{ currentLink.url }}">
                <img class="social-icon" src="{{ "/images/social/" | append: currentLink.icon | relative_url }}" alt="{{ currentLink.service }}">
                {{ currentLink.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
        
      </div>

      <div class="col-xs-12 col-sm-6">
        <strong>{{ site.title }}</strong>
        <p class="small">{{ site.description }}</p>
        
        <hr class="fine" >
        
      </div>
    </div>
  </div>
</footer>
