<footer class="page-footer">
  <div class="container" >

    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <ul class="list-inline">
          <li class="list-inline-item">{{ site.title }}</li>
          <li class="list-inline-item"><a href="mailto:{{ site.email }}">contact</a></li>
          <li class="list-inline-item rss-subscribe">
            Abonnez vous avec le <a href="{{ "/feed.xml" | prepend: site.baseurl }}">fils RSS</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-3">
        <ul class="list-inline">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li class="list-inline-item">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6">
        <small>{{ site.description }}</small>
      </div>
    </div>
  </div>
</footer>
