<footer role="contentinfo" class="page-footer container-fluid" >
  <div class="container" >

    <div class="row">
      <div class="col-xs-12 col-sm-5 offset-sm-1 col-lg-6 offset-lg-0 small ">
        <strong>{{ site.title }}</strong>
        <p>{{ site.description }}</p>
      </div>

      <div class="col-xs-12 col-sm-6 small">
        <ul class="list-unstyled">
          <li class="rss-subscribe">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">fils RSS</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="fine" >
    
    <div class="row">
      <div class="col-xs-12 col-sm-5 offset-sm-1 col-lg-6 offset-lg-0">
        <ul class="list-unstyled list-social small" >
          {% assign linkList = site.data.ownedLinks | where_exp: "item", "item.visibleIn contains 'footer'" %}
          {% for currentLink in linkList %}
            {% if currentLink.name[ page.lang ] %}
              {% assign theName = currentLink.name[ page.lang ] %}
            {% else %}
              {% assign theName = currentLink.name %}
            {% endif %}

            <li class="list-item-custom">
              <a href="{{ currentLink.url }}">
                <img class="social-icon" src="{{ "/images/social/" | append: currentLink.icon | relative_url }}" alt="{{ currentLink.service }}">
                {{ theName }}
              </a>
            </li>
          {% endfor %}
        </ul>
        
      </div>

      <div class="col-xs-12 col-sm-6 small">
        {% include page/footer_specialPages.html %}
      </div>
    </div>    
  </div>
</footer>
