{% assign lang = "fr" %}
{% if page.lang %}
  {% assign lang = page.lang %}
{% endif %}

{% if include.title %}
  {% assign title = include.title %}
{% else %}
  {% assign title= page.title %}
{% endif %}


{% assign bannerImg= "Apple-wireless-keyboard.jpg" %}
{% if page.header_banner %}
  {% assign bannerImg = page.header_banner %}
{% endif %}

{% if include.bannerImg %}
  {% assign bannerImg = include.bannerImg %}
{% endif %}


<header class="page-heading" >
  <div class="header-visual">
    {% if bannerImg %}
      <img class="" src="/images/heading/{{bannerImg}}" aria-hidden="true" alt="{{ site.data.i18n[ 'page_banner_alt' ][ lang ] }}">
    {% endif %}
  </div>

  <div class="title">
    <div class="container">
      {% if title %}
        <div class="row">
          <div class="col-xs-12 col-sm-4 push-sm-8">
            <div class="h1 text-xs-right site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
          </div>
          <div class="col-xs-12 col-sm-8 pull-sm-4">
            <h1>{{ title }}</h1>
            {% if page.slogan %}
              <small>{{ page.slogan }}</small>
            {% endif %}
          </div>
        </div>
      {% else %}
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        {% if site.slogan %}
          <small>{{ site.slogan }}</small>
        {% endif %}
      {% endif %}
    </div>
  </div>

</header>

<div class="navigation">

<div class="container">
  <nav class="navbar">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" 
            data-target="#rootNavigation">&#9776;</button>
    <div id="rootNavigation" 
         class="collapse navbar-toggleable-xs" >
      {% include nav/sections-nav.html lang=lang %}
      <!-- Change language menu -->
      <hr class="hidden-sm-up">
      {% include nav/lang-nav.html lang=lang %}
    </div>
  </nav>
</div>
  </div>