

.fx-book-cover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #bbb;        
    
    transform: perspective(600px) rotateX(14deg) rotateY(-7deg) rotateZ(-2deg) translateZ(0px);
    
    &:hover {
        transform: perspective(600px) rotateX(23deg) rotateY(-22deg) rotateZ(-2deg)  translateY(-70px) translateZ(-1em);
    }
    
    &,
    &:hover {
        transition: 0.2s transform;
    }
}

.fx-video-popin {
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #bbb;        

    transform: perspective(600px) rotateX(2deg) translateZ(-2em);
    
    &:hover {
        transform: perspective(600px) rotateX(0deg);
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }
    
    &,
    &:hover {
        transition: 0.2s 0.1s transform;
    }
}

.fx-flat-popin-borderless {
    transform: scale(1);
    
    &:hover,
    &:focus {
        transform: scale(1.4);
    }
    
    &,
    &:hover,
    &:focus {
        transition: 0.2s 0.1s transform;
    }
}