body {
    font-size: 1.3em;
}

h2 {
    font-size: 2.5em;
    font-weight: 300;
    
    text-align: center;
    
    margin: 2em 0 1.5em 0;
}

h3 {
    font-size: 2em;
    font-weight: 300;
    
    text-align: left;
    
    margin: 1.5em 0 1em 0;
}

section h3 {
    position: relative;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        z-index: -1;

        width:   100vw;
        top:   -0.1em;
        bottom: -0.1em;
        
        background-color: colorNamed(greenBase);
    }
    
    &:before {
        left:    calc(-100vw - 0.3em);
        border-right: 2px solid colorNamed(greenDark);
    }
    
    &:after {
        left: calc(100% + 0.3em);
        border-left: 2px solid colorNamed(greenDark);
    }
}

h4 {
    font-size: 1.5em;
    font-weight: 200;
    
    text-align: center;
    @include media-breakpoint-up(md) {
        text-align: left;
    }
    
    margin: 1.5em 0 1em 0;
}


p {
    line-height: 1.7em;
    margin-bottom: 2.5em;
}

.tiny {
  font-size: 70%;
}


blockquote {
    margin: 1.5em;
    padding: 0.7em;
    border: 1px solid colorNamed(lightGrey);
    
    box-shadow: 0 4px 8px 1px transparentize(black, 0.9);
    
    *:last-child {
        margin-bottom: 0;
    }
}


hr {
    &.fine {
        width: 70%;
        color: colorNamed(blueBase);
    }
}

.text-muted {
    // BS also use important to force color, so we also need to do the same
    color: colorNamed(lightText) !important;
}


.text-smallcaps {
    font-variant: small-caps;
}


img.img-as-inline-icon {
    height: 1em;
    width: auto;
}

ul:not(.list-unstyled) {
    list-style-type: none;
    list-style-position: outside;
    
    padding-left: 2em;
    
    li {
        margin-bottom: 1em;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    li:before {
        content: "—";
        display: inline-block;
        
        padding-right: 0.5em;
        margin-left: -2em;
        
        width: 2em;
        text-align: right;
    }
}

dl.timeline {
    padding-right: 15px;
    
    dt,
    dd {
        position: relative;
        
        &:after {
            content: "";
            display: block;
            position: absolute;
            right: -10px;
            width:  1px;
            
            background-color: colorNamed(blueBase);
        }
        
        &:last-child:after {
            background: linear-gradient(to bottom, colorNamed(blueBase) 0%, transparent 70%);
        }
    }
    
    dd:after {
        top: -2em;
        bottom: -3em;
        z-index: -1;
    }
    
    dt {
        text-align: right;
        
        &:before {
            content: "";
            display: block;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            
            width:  12px;
            height: 12px;
            
            background-color: colorNamed(yellowBase);
            border: 1px solid colorNamed(blueBase);
            border-radius: 50%;
        }
    }
    
}


.list-text-separator {
    li {
        &:after {
            content: ";";
            margin-left: 0.5em;
            display: inline-block;
        }
        &:last-child:after {
            content: ".";
            margin-left: 0;
            display: inline-block;
        }
    }
}


.link-card {
    img {
        max-height: 3em;
    }
    
    .link-details {
        @include media-breakpoint-up(sm) {
            min-height: 7em;
        }
    }
}