body {
    font-size: 1.3em;
}

h2 {
    font-size: 2.5em;
    font-weight: 300;
    
    text-align: center;
    
    margin: 2em 0 1.5em 0;
}

h3 {
    font-size: 2em;
    font-weight: 300;
    
    text-align: left;
    
    margin: 1.5em 0 1em 0;
}

section h3 {
    position: relative;
    
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;

        width:   100vw;
        top:   -0.1em;
        bottom: -0.1em;
        
        background-color: colorNamed(greenBase);
    }
    
    &:before {
        left:    calc(-100vw - 0.3em);
        border-right: 2px solid colorNamed(greenDark);
    }
    
    &:after {
        left: calc(100% + 0.3em);
        border-left: 2px solid colorNamed(greenDark);
    }
}

p {
    line-height: 1.7em;
    margin-bottom: 2.5em;
}

blockquote {
    margin: 1.5em;
    padding: 0.7em;
    border: 1px solid colorNamed(lightGrey);
    
    box-shadow: 0 4px 8px 1px transparentize(black, 0.9);
    
    *:last-child {
        margin-bottom: 0;
    }
}


hr {
    &.fine {
        width: 70%;
        color: colorNamed(blueBase);
    }
}


ul:not(.list-unstyled) {
    list-style-type: none;
    list-style-position: outside;
    
    padding-left: 2em;
    
    li {
        margin-bottom: 1em;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    li:before {
        content: "—";
        display: inline-block;
        
        padding-right: 0.5em;
        margin-left: -2em;
        
        width: 2em;
        text-align: right;
    }
}

