{% assign lang = include.lang %}
{% assign app  = include.app %}

{% if app.name[ lang ] %}
  {% assign appName = app.name[ lang ] %}
{% else %}
  {% assign appName = app.name %}
{% endif %}

{% if app.pageCode[ lang ] %}
  {% assign appPage = app.pageCode[ lang ] %}
{% else %}
  {% assign appPage = app.pageCode %}
{% endif %}

{% if app.shortDescription[ lang ] %}
  {% assign description = app.shortDescription[ lang ] %}
{% else %}
  {% assign description = app.shortDescription %}
{% endif %}

<div class="app-card media mt-2 mb-2">
  <a class="media-left" 
     href="{{ appPage | prepend: "applications/" | prepend: site.baseurl }}">
    <img class="media-object fx-flat-popin fx-light-shrink" 
         src="{{ app.icon.small | relative_url }}" 
         alt="{{ site.data.i18n[ 'app_icon_alt' ][ lang ] }}" >
  </a>
  <div class="media-body">
    <h3 class="h4 media-heading">{{ appName }}</h3>
    <p>
      {{ description |markdownify }}
    </p>
    <a href="{{ appPage | prepend: "applications/" | prepend: site.baseurl }}" 
       class="small text-xs-right">{{ site.data.i18n[ 'nav_see_more' ][ lang ] }}</a>
  </div>
</div>

