---
layout: default
title: About
topNavigation: true
subcategory: about
lang: "en"
order: 100
permalink: /en/about/
---

  <section class="about-resume container pt-0">

    <header class="card fx-medium-shadow">
      <div class="card-block">
        <img src="/images/portrait/sylvain-gml.jpg" alt="Ma photo" class="portrait rounded-circle ">
        <h2 class="card-title mt-0 mb-2 text-xs-left">Sylvain <span class="text-smallcaps">Gamel</span></h4>
        <div class="card-subtitle text-muted">
          <ul class="list-unstyled">
            <li>Ingénieur développement,</li>
            <li>Assistance Maîtrise d’ouvrage,</li>
            <li>Interfaces et expérience utilisateur.</li>
          </ul>
        </div>
      </div>
    </header>
    
    <div class="row">
      <div class="col-xs-12 col-sm-8 mt-2">
        <p>
          Je développe des logiciels depuis 1997 dans des contextes variés 
          et avec des technologies diverses.
        </p>

        <p>
          J'aime créer des logiciels, que ce soit du coté des serveurs (Java, NodeJS), 
          ou face à vos utilisateurs, dans un navigateur web (HTML5/JS/CSS) 
          ou sur son téléphone (iOS, web).
        </p>

        <p>
          Je peux également prendre en charge votre formation, ou celle de vos 
          utilisateurs.
        </p>

        <p>
          Il m'est tout autant possible de vous aider <em>en amont du développement</em>.
          En collaboration avec vous et vos utilisateurs je peux définir le cahier 
          des charges de votre projet et mener à terme les 
          <em>spécifications fonctionnelles</em> et techniques de votre produit.
        </p>


        <h3>Quelques domaines d'activité</h3>
        
        <ul>
          {% for project in site.data.resume_project_types %}
            {% if project.title[ page.lang ] %}
              {% assign prjTitle = project.title[ page.lang ] %}
            {% else %}
              {% assign prjTitle = project.title %}
            {% endif %}
          
            <li>
              <a href="#project_type_{{ project.id }}">{{ prjTitle }}</a>
            </li>
          {% endfor %}
        </ul>
        
        <div class="text-xs-right">
          <button type="button" class="btn btn-link btn-sm"
                  onclick="$('[role=tablist] [role=tabpanel]').collapse('show');" >
            {{ site.data.i18n[ 'expand_all' ][ page.lang ] }}
          </button>
          <button type="button" class="btn btn-link btn-sm"
                  onclick="$('[role=tablist] [role=tabpanel]').collapse('hide');" >
            {{ site.data.i18n[ 'collapse_all' ][ page.lang ] }}
          </button>
        </div>
        
        
        {% for project in site.data.resume_project_types %}
          {% include resume/project_type.html project=project %}
        {% endfor %}


        <h3>My personnal (<em>ans small</em>) Babel Tower</h3>


        <h4>Server side</h4>

        <ul>
          <li>Java&nbsp;;</li>
          <li>Unix environments.</li>
        </ul>


        <h4>On the USer's Side</h4>

        <ul>
          <li>Java Swing&nbsp;;</li>
          <li>JavaScript, TypeScript&nbsp;;</li>
          <li>HTML&nbsp;</li>
          <li>CSS as a base, but also LessCSS and SASS.</li>
        </ul>


        <h4>In the Mobile</h4>

        <ul>
          <li>
            Objective-C (I even participated to <a href="/fr/books">this book</a> 
            on the matter);
          </li>
          <li>Swift</li>
        </ul>


        <h4>And also…</h4>

        <ul>
          <li>C++ ;</li>
          <li>C ;</li>
          <li>Perl ;</li>
          <li>
            Yes, I did some PHP for a year, but it's far too old to dare 
            mention this openly.
          </li>
        </ul>

        <p><em>Are you using any other coding language?</em></p>

        <p>This is a non-issue to me, I can learn and adapt.</p>


        <h4>Cross-plarform</h4>


        <ul>
          <li>Java J2SE or J2EE&nbsp;;</li>
          <li>Mac OS X or iOS with Cocoa&nbsp;;</li>
          <li>Unix&nbsp;;</li>
          <li>Web Service or light client.</li>
        </ul>


        <h4>Open</h4>


        <ul>
          <li>SCRUM methodology ou more classical waterfall cycle?</li>
          <li>From tiny to big teams?</li>
          <li>French speaking environment or multi-cultural?</li>
        </ul>

        <p>
          Still a non-issue for as I can, and will, adapt. 
        </p>


        <h4>My skills, <em>Your</em> Tools</h4>


        <ul>
          <li>Eclipse, WebStorm, NetBeans&nbsp;;</li>
          <li>GIT, CVS, ClearCase&nbsp;;</li>
          <li>Jira, Bugzilla, Mantis&nbsp;;</li>
          <li>Microsoft Office, Open/Libre Office, Google Docs.</li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 mt-2" >
        <aside>
          <h4>Resume</h4>
          
          <a href="{{ 'downloads/about/CV-Sylvain-Gamel-En-Fr-2015.pdf' | absolute_url }}">
            Download by resume...
          </a>
          (a <abbr>pdf</abbr> document)
          
          <h4>Années clés</h4>

          {% for timelineGroup in site.data.resume_timeline %}
            {% include resume/resume_list_timeline.html group=timelineGroup %}
          {% endfor %}
          
        </aside> 
      </div>
    </div>

  </section>
