{% assign lang  = include.lang %}

{% assign bookId = include.bookId %}
{% assign book   = include.book %}


{% if bookId %}
  {% assign matchingBook = site.data.books | where: "id", bookId %}
  {% assign book = matchingBook.first %}
{% endif %}


{% if book.name[ title ] %}
  {% assign title = book.title[ lang ] %}
{% else %}
  {% assign title = book.title %}
{% endif %}

{% assign pageURL = null %}
{% if book.pageCode %} 
  {% assign bookPage = book.pageCode %}
  {% assign pageURL = bookPage | prepend: site.baseurl %}
{% endif %}

{% if book.shortDescription[ lang ] %}
  {% assign description = book.shortDescription[ lang ] %}
{% else %}
  {% assign description = book.shortDescription %}
{% endif %}

<div class="book-summary-info">
  <div class="heading" >
      {% if pageURL %}
        <a href="{{ pageURL }}" class="mb-1" >
          <img src="{{ book.cover.small | relative_url }}" 
               class="img-fluid mb-1 fx-flat-popin fx-light-zoom fx-fine-border"
               alt="{{ site.data.i18n[ 'book_cover_alt' ][ lang ] }}" ></a>
      {% else %}
        <img src="{{ book.cover.small | relative_url }}" 
             class="img-fluid mb-1 fx-fine-border"
             alt="{{ site.data.i18n[ 'book_cover_alt' ][ lang ] }}" >
      {% endif %}
    <h3 class="h4">{{ title }}</h3>
  </div>
  
  {{ description | markdownify}}

  {% if pageURL %}
  <p>
    <a href="{{ pageURL }}" class="">
      {{ site.data.i18n[ 'nav_see_more' ][ lang ] }}
    </a>
  </p>
  {% endif %}

  {% if book.shop %}
    <ul class="list-inline list-unstyled">
      {% for shop in book.shop %}
        {% assign shopId  = shop[ 0 ] %}
        {% assign shopURL = shop[ 1 ] %}

        {% assign shopInfo = site.data.store | where: "id", shopId | first %}

        {% if shopInfo.name[ lang ] %}
          {% assign shopName = shopInfo.name[ lang ] %}
        {% else %}
          {% assign shopName = shopInfo.name %}
        {% endif %}

        {% if shopInfo.badge[ lang ] %}
          {% assign shopIcon = shopInfo.badge[ lang ] %}
        {% else %}
          {% assign shopIcon = shopInfo.badge %}
        {% endif %}

        <li class="list-inline-item mr-1 mb-1">
          <a href="{{ shopURL }}">
            <img src="{{ shopIcon | prepend: "/images/" | prepend: site.baseURL }}" 
                 alt="{{ shopName}}" 
                 class="fx-flat-popin-borderless" >
          </a>
        </li>

      {% endfor %}
    </ul>
  {% endif %}
</div>
