{% assign lang  = include.lang %}

{% assign bookId = include.bookId %}
{% assign book   = include.book %}


{% if bookId %}
  {% assign matchingBook = site.data.books | where: "id", bookId %}
  {% assign book = matchingBook.first %}
{% endif %}


{% if book.name[ title ] %}
  {% assign title = book.title[ lang ] %}
{% else %}
  {% assign title = book.title %}
{% endif %}

{% assign pageURL = null %}
{% if book.pageCode %} 
  {% assign bookPage = book.pageCode %}
  {% assign pageURL = bookPage | prepend: "books/" | prepend: site.baseurl %}
{% endif %}

{% if book.shortDescription[ lang ] %}
  {% assign description = book.shortDescription[ lang ] %}
{% else %}
  {% assign description = book.shortDescription %}
{% endif %}


<div class="row mb-3">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 text-xs-center text-md-right">
    {% if pageURL %}
      <a href="{{ pageURL }}" class="mb-1" >
        <img src="{{ book.cover.small | relative_url }}" 
             class="img-fluid mb-1"
             alt="{{ site.data.i18n[ 'book_cover_alt' ][ lang ] }}" >
      </a>
    {% else %}
      <img src="{{ book.cover.small | relative_url }}" 
           class="img-fluid mb-1"
           alt="{{ site.data.i18n[ 'book_cover_alt' ][ lang ] }}" >
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8 pl-2">
    <h3 class="h4 media-heading">{{ title }}</h3>
    <p>
      {{ description | markdownify}}
    </p>
    
    {% if pageURL %}
      <hr class="fine">
    
      <a href="{{ pageURL }}" class="">
        {{ site.data.i18n[ 'nav_see_more' ][ lang ] }}
      </a>
    {% endif %}
    
    {% if book.shop %}
      <hr class="fine">
  
      <ul class="list-inline">
        {% for shop in book.shop %}
          {% assign shopId  = shop[ 0 ] %}
          {% assign shopURL = shop[ 1 ] %}
          
          {% assign shopInfo = site.data.store | where: "id", shopId | first %}
          
          {% if shopInfo.name[ lang ] %}
            {% assign shopName = shopInfo.name[ lang ] %}
          {% else %}
            {% assign shopName = shopInfo.name %}
          {% endif %}

          {% if shopInfo.badge[ lang ] %}
            {% assign shopIcon = shopInfo.badge[ lang ] %}
          {% else %}
            {% assign shopIcon = shopInfo.badge %}
          {% endif %}
          
        <li class="list-inline-item mr-1 mb-1">
          <a href="">
            <img src="{{ shopIcon | prepend: "/images/" | prepend: site.baseURL }}" 
                 alt="{{ shopName}}" >
          </a>
        </li>

        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

