{% assign lang = include.lang %}
{% assign book = include.book %}

{% if book.title[ lang ] %}
  {% assign title = book.title[ lang ] %}
{% else %}
  {% assign title = book.title %}
{% endif %}

{% if book.pageCode[ lang ] %}
  {% assign bookPage = book.pageCode[ lang ] %}
{% else %}
  {% assign bookPage = book.pageCode %}
{% endif %}

{% if book.shortDescription[ lang ] %}
  {% assign description = book.shortDescription[ lang ] %}
{% else %}
  {% assign description = book.shortDescription %}
{% endif %}

<div class="book-card media mt-2 mb-2">
  <a class="media-left " 
     href="{{ bookPage | prepend: "books/" | prepend: site.baseurl }}">
    <img class="media-object fx-flat-popin fx-light-shrink fx-fine-border" 
         src="{{ book.cover.small | relative_url }}" 
         alt="{{ site.data.i18n[ 'book_cover_alt' ][ lang ] | replace: '$1', title }}" >
  </a>
  <div class="media-body">
    <h3 class="h4 media-heading">{{ title }}</h3>
    <p>
      {{ description | markdownify }}
    </p>
    <a href="{{ bookPage | prepend: "books/" | prepend: site.baseurl }}" 
       class="small text-xs-right">{{ site.data.i18n[ 'nav_see_more' ][ lang ] }}</a>
  </div>
</div>

