{% assign lang=include.lang %}

<ul class="list-unstyled nav navbar-nav">
  {% assign allSections = site.pages | sort: "order" %}
  {% for current in allSections %}

    {% if null == current.categories || 0 == current.categories.length %}

      {%  assign sectionActive = false %}
      {%  assign cssClass = '' %}

      {% if current.category and page.category == current.category %}
        {%  assign sectionActive = true %}
        {%  assign cssClass = 'active' %}
      {% endif %}

      {% if current.category and page.categories contains current.category %}
        {%  assign sectionActive = true %}
        {%  assign cssClass = 'active' %}
      {% endif %}

      {% if current.subcategory and page.categories contains current.subcategory %}
        {%  assign sectionActive = true %}
        {%  assign cssClass = 'active' %}
      {% endif %}

      {% if page.permalink and page.permalink == current.permalink %}
        {%  assign sectionActive = true %}
        {%  assign cssClass = 'active' %}
      {% endif %}
      
      {% assign blogToIgnore = false %}
      {% if current.url contains '/blog/page' %}
        {% assign blogToIgnore = true %}
      {% endif %}
      
      {% if current.order != -1 and current.title and current.lang == page.lang and true == current.topNavigation and false == blogToIgnore %}
      <li class="nav-item">
        <a class="nav-link {{ cssClass }}" href="{{ current.url | prepend: site.baseurl }}">
          {{ current.title }}  
          {% if sectionActive %}
            <span class="sr-only">(actuelle)</span>
          {% endif %}
        </a> 
      </li>
      {% endif %}
    {% endif %}
  {% endfor %}				
</ul>