{% if page.attachments %}
    <hr class="d-md-none m-t-3">
    <h3 class="responsive">{{ include.title }}</h3>
    {% for item in page.attachments %}
        {% assign icon_src="icon-download" %}
        {% if item.icon %}
            {% assign icon_src=item.icon %}
        {% endif %}
        <div class="card sidebar">
            <div class="card-header text-center">
                {{item.name}}
            </div>
            <div class="card-block text-center">
              {% if item.path %}
                <a class="link-download" href="/downloads/{{item.path}}">
                    <img src="/images/icons/{{icon_src}}.svg" alt="{{item.name}}" width="64" >
                </a>
              {% endif %}
              {% if item.url %}
                <a class="link-download" href="{{item.url}}">
                    <img src="/images/icons/{{icon_src}}.svg" alt="{{item.name}}" width="64" >
                </a>
              {% endif %}
            </div>
            <div class="card-footer">{{item.description}}</div>
        </div>
    {% endfor %}
{% endif %}
