{% if page.attachments %}
    <hr class="hidden-md-up m-t-3">
    <h3 class="responsive">{{ include.title }}</h3>
    {% for item in page.attachments %}
        {% assign icon_src="cloud-download" %}
        {% if item.icon %}
            {% assign icon_src=item.icon %}
        {% endif %}
        <div class="card sidebar">
            <div class="card-header text-xs-center">
                {{item.name}}
            </div>
            <div class="card-block text-xs-center">
                <a class="link-download" href="/downloads/{{item.path}}">
                    <img src="/img/open-iconic/{{icon_src}}.svg" alt="{{item.name}}" width="64" >
                </a>
            </div>
            <div class="card-footer">{{item.description}}</div>
        </div>
    {% endfor %}
{% endif %}
