---
layout: default
title: À propos
topNavigation: true
subcategory: about
lang: "fr"
order: 100
permalink: /fr/a-propos/
---

  <section class="about-resume container pt-0">

    <header class="card fx-medium-shadow">
      <div class="card-block">
        <img src="/images/portrait/sylvain-gml.jpg" alt="Ma photo" class="portrait rounded-circle ">
        <h2 class="card-title mt-0 mb-2 text-xs-left">Sylvain <span class="text-smallcaps">Gamel</span></h4>
        <div class="card-subtitle text-muted">
          <ul class="list-unstyled">
            <li>Ingénieur développement,</li>
            <li>Assistance Maîtrise d’ouvrage,</li>
            <li>Interfaces et expérience utilisateur.</li>
          </ul>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-xs-12 col-sm-8 mt-2">
        <p>
          Je développe des logiciels depuis 1997 dans des contextes variés
          et avec des technologies diverses.
        </p>

        <p>
          J'aime créer des logiciels, que ce soit du coté des serveurs (Java, NodeJS),
          ou face à vos utilisateurs, dans un navigateur web (HTML5/JS/CSS)
          ou sur son téléphone (iOS, web).
        </p>

        <p>
          Je peux également prendre en charge votre formation, ou celle de vos
          utilisateurs.
        </p>

        <p>
          Il m'est tout autant possible de vous aider <em>en amont du développement</em>.
          En collaboration avec vous et vos utilisateurs je peux définir le cahier
          des charges de votre projet et mener à terme les
          <em>spécifications fonctionnelles</em> et techniques de votre produit.
        </p>


        <h3>Quelques domaines d'activité</h3>

        <ul>
          {% for project in site.data.resume_project_types %}
            {% if project.title[ page.lang ] %}
              {% assign prjTitle = project.title[ page.lang ] %}
            {% else %}
              {% assign prjTitle = project.title %}
            {% endif %}

            <li>
              <a href="#project_type_{{ project.id }}">{{ prjTitle }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="text-xs-right">
          <button type="button" class="btn btn-link btn-sm"
                  onclick="$('[role=tablist] [role=tabpanel]').collapse('show');" >
            {{ site.data.i18n[ 'expand_all' ][ page.lang ] }}
          </button>
          <button type="button" class="btn btn-link btn-sm"
                  onclick="$('[role=tablist] [role=tabpanel]').collapse('hide');" >
            {{ site.data.i18n[ 'collapse_all' ][ page.lang ] }}
          </button>
        </div>


        {% for project in site.data.resume_project_types %}
          {% include resume/project_type.html project=project %}
        {% endfor %}


        <h3>Ma (<em>petite</em>) Tour de Babel</h3>


        <h4>Côté serveur</h4>

        <ul>
          <li>Java&nbsp;;</li>
          <li>Environnements Unix.</li>
        </ul>


        <h4>Côté utilisateur</h4>

        <ul>
          <li>Java Swing&nbsp;;</li>
          <li>JavaScript, TypeScript&nbsp;;</li>
          <li>HTML&nbsp;</li>
          <li>CSS comme base mais aussi LessCSS et SASS.</li>
        </ul>


        <h4>Dans le mobile</h4>

        <ul>
          <li>
            Objective-C (j'ai même commis <a href="/fr/books">un livre</a>
            sur le sujet)&nbsp;;
          </li>
          <li>Swift</li>
        </ul>


        <h4>Mais aussi…</h4>

        <ul>
          <li>C++ ;</li>
          <li>C ;</li>
          <li>Perl ;</li>
          <li>
            Oui j'ai aussi fait du PHP, mais c'est trop ancien pour oser
            en parler ouvertement.
          </li>
        </ul>

        <p><em>Vous utilisez d'autres langages de développement ?</em></p>

        <p>Ce n'est pas un problème, je peux aussi l'apprendre.</p>


        <h4>Multiplateforme</h4>


        <ul>
          <li>Java J2SE ou J2EE&nbsp;;</li>
          <li>Mac OS X ou iOS avec Cocoa&nbsp;;</li>
          <li>Unix&nbsp;;</li>
          <li>Service web ou client léger.</li>
        </ul>


        <h4>Ouvert</h4>


        <ul>
          <li>Méthode SCRUM ou cycle en V&nbsp;?</li>
          <li>Petites ou grandes équipes&nbsp;?</li>
          <li>Francophone ou multi-culturelle&nbsp;?</li>
        </ul>

        <p>
          Aucun problème pour moi, je saurai m'adapter.
        </p>


        <h4>Avec vos outils</h4>


        <ul>
          <li>Eclipse, WebStorm, NetBeans&nbsp;;</li>
          <li>GIT, CVS, ClearCase&nbsp;;</li>
          <li>Jira, Bugzilla, Mantis&nbsp;;</li>
          <li>Microsoft Office, Open/Libre Office, Google Docs.</li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4 mt-2" >
        <aside>
          <h3 class="sr-only">Informations complémentaires</h2>
          <h4>Curriculum Vitae</h4>

          <p>
              <a href="{{ 'downloads/about/CV-Sylvain-Gamel-En-Fr.pdf' | absolute_url }}"
                 title="CV français et anglais en PDF.">
                 Téléchargez mon <span class="text-smallcaps">cv</span>...</a><br>
              (document au format <abbr>pdf</abbr>, 1,1Mo)
          </p>
          <p>
              <a href="{{ 'downloads/about/CV-Sylvain-Gamel-Fr-overview.pdf' | absolute_url }}"
                 title="Fiche synthétique de parcours et de compétences en PDF.">
              Téléchargez ma fiche synthétique...</a><br>
          (document au format <abbr>pdf</abbr>, 250Ko)
          </p>
          
          <h4>Années clés</h4>

          {% for timelineGroup in site.data.resume_timeline %}
            {% include resume/resume_list_timeline.html group=timelineGroup %}
          {% endfor %}

        </aside>
      </div>
    </div>

  </section>
