/* 
    Created on : 29 févr. 2016, 21:38:43
    Author     : sylvain
*/

.icon.icon--github,
.icon.icon--twitter {
    display: inline-block;
    
    width:       1rem;
    height:      1rem;
    line-height: 1rem;
    
    margin-right: 0.5rem;
};

