// Customize standard Bootstrap variables
$enable-rounded: false;

$line-height-base: 1.5;


// Custom palette


$colorPalette: (
	mainBg: #fefefe,
        darkBg: #303030,
        thinBg: #fafafa,
        
        textInverted: #fefefe,
        
        white: #ffffff,
        snowGrey: #fcfcfc,
        whiteGrey: #fafafa,
        paleGrey: #f0f0f0,
        lightGrey: #d0d0d0,
        
        
        blueBase:   #4a90e2,
        blueMedium: #578CC9,
        blueDark:   #5F7996,
        blueDarker: #3177c9,
        
        yellowLight: #fff89e,
        yellowBase:   #F8E71C,
        yellowMedium: #DED22C,
        yellowDark:   #ABA444,
        
        greenBase:   #7ED321,
        greenMedium: #78BA30,
        greenDark:   #64873E,
        
        lightText: #646464,
        text: #323232,
        invertedText: #e0e0e0,
        
        linkNormal: #e03333,
        linkActive: #ff4040,
        linkinvertedActive: #f0f0f0, // Over dark backgrounds
        linkVisited: darken(#e03333, 10%),
        
        headings: #ff5842,
        primary: rgb(243,72,170)
);
