@import "../variables";

aside {
    h3 {
        // Disable the horizontal left/right decoration
        &:before,
        &:after {
            content: none;
        }
    }
    
    background-color: transparentize(colorNamed(whiteGrey), 0.3);

    padding: 0.5em;

    border: 1px solid colorNamed(paleGrey);
    border-radius: 4px;
    
    // A small nice effect for Safari
    -webkit-backdrop-filter: blur(10px);
    
    
    dl {
        font-size:   0.8em;
        line-height: 1.4em;
        
        dt {
            margin-bottom: 1.2em;
        }
        
        dd {
            margin-bottom: 2em;
        }
    }
}
