.about-resume {
    header img.portrait {
        width: auto;
        height: 8em;
        float: right;
        
        border: 1px solid colorNamed(lightGrey);
    }
}


.accordion-item {
    margin-left: 4em;
    
    h5 {
        margin-top:    2em;
        margin-bottom: 1.5em;
    }
}
