// Images adjudting time depending on breakpoint

.media.app-card {

    img.media-object {
        width:  48px;
        height: auto;

        @include media-breakpoint-up(sm) {
            width:  96px;
        }
        @include media-breakpoint-up(lg) {
            width:  auto;
        }
    }

}


