// Images adjudting time depending on breakpoint

.app-list .app-card.media {
	@include media-breakpoint-up(md) {
		min-height: 15em;
	}
}

.media.app-card {

    img.media-object {
        width:  48px;
        height: auto;

        @include media-breakpoint-up(sm) {
            width:  96px;
        }
        @include media-breakpoint-up(lg) {
            width:  auto;
        }
    }

}


