
.section-title {
    margin: space(3) 0;
    
    
    img {
        width: 1.5em;
        height: auto;
        
        display: block;
        margin: 0 auto 0 auto;
        
        @include media-breakpoint-up(md) {
            width: 2.5em;
        }
        @include media-breakpoint-up(lg) {
            width: 4em;
        }
    }
}