
h2.section-title {
    font-size: 2.0em;

    @include media-breakpoint-up(sm) {
        font-size: 2.25em;
    }
    @include media-breakpoint-up(lg) {
        font-size: 2.5em;
    }

    margin: 2em 0 1.5em 0;
    
    img {
        width: 2em;
        height: auto;
        
        display: block;
        margin: 0 auto 0 auto;
        
        @include media-breakpoint-up(sm) {
            width: 3em;
        }
        @include media-breakpoint-up(lg) {
            width: 4em;
        }
    }
}