// Images adjudting time depending on breakpoint



.training-list .training-card {
    display: grid;
    
    grid-template-columns: 100%;
    grid-gap: 1.5em;

    .training-media img {
        width: calc(100vw - 32px);
    }
    
    @include media-breakpoint-up(sm) {
        grid-template-columns: 10em auto;
        
        .training-media img {
            width: 10em;
        }
    }
    @include media-breakpoint-up(md) {
        grid-template-columns: 14em auto;
        
        .training-media img {
            width: 14em;
        }
    }
    
    
    .level {
        display: inline-block;
        padding: 4px 16px;
        border: none;
        border-radius: 20rem;
        font-size: 1.1rem;
        font-weight: bold;
        text-shadow: black 0px 1px 1px;
        
        &.level-beginner {
            color: colorNamed(white);
            background-color: colorNamed(greenMedium);
        }
    }
}

