.download-button-block {
    
    a.btn { 
        white-space: normal;
        text-decoration: none; 
        
        width: 100%;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
    
    & > * {
        margin-left: auto;
        margin-right: auto;
    }
    
    img {
        display: block;
        margin: 0 auto;
        
        width: 32px;
        
        @include media-breakpoint-up(md) {
            width: 64px;
        }
    }
}
