.modal {
    
    .modal-header {
        position: relative;
        
        h5 {
            font-size: 1.25em;
        }
    }
    
}


.modal.contact-form {
    .modal-header {
        background-color: colorNamed(greenBase);
    }
}

