{% assign contact = site.data.contact-info %}

<div class="contact card">
  <div class="card-header h3 pt-2 pb-2">
    {{ contact.name.first }} <span class="text-smallcaps">{{ contact.name.last }}</span>
    {% if contact.company %}
      —
      <span class="text-smallcaps">
        {{ contact.company.status }}
      </span>
      {{ contact.company.name }}
    {% endif %}
  </div>
  
  <div class="card-block">
    <div class="row">
      <div class="col-xs-12 col-md-6 mb-2">
        {% for addrRow in contact.address.street %}
        <div>{{ addrRow }}</div>
        {% endfor %}
        <div>
          {{ contact.address.zip }}
          <span class="text-smallcaps small">
            {{ contact.address.city }} {{ contact.address.country }}
          </span>
        </div>
      </div>
      
      <div class="col-xs-12 col-md-6 mb-2" >
        <dl>
          <dt>Tél.&nbsp;:</dt>
          <dd>
            {{ contact.phone }}
          </dd>
          <dt>Courriel.&nbsp;:</dt>
          <dd>
            {{ contact.email }}
          </dd>
        </dl>
      </div>
    </div>
  </div>
  
  <div class="card-footer small text-xs-center">
    <ul class="list-unstyled list-inline list-text-separator" >
      {% for legal in contact.company.legal %}
        <li class="list-inline-item">{{ legal }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

