{% assign itemId   = include.id %}
{% assign parentId = include.parentId %}

{% assign title   = include.title %}
{% assign content = include.content %}

{% capture controllerId %}{{ include.id }}_cnt{% endcapture %}

<div class="accordion-item">
  <h5 id="{{ itemId }}" role="tab" class="">
    <a data-toggle="collapse" 
       XXXdata-parent="#{{ parentId }}" 
       href="#{{ controllerId }}" 
       aria-expanded="false" 
       aria-controls="{{ controllerId }}">
      {{ title }}
    </a>
  </h5>

  <div id="{{ controllerId }}" 
       class="collapse" 
       role="tabpanel" 
       aria-labelledby="{{ itemId }}" >
    {{ content }}
  </div>
</div>