{% assign lang=include.lang %}
{% assign appId=include.appId %}
{% assign imgSrc=include.src %}
{% assign imgAlt=include.imgAlt %}
{% assign description=include.description %}
{% assign imgAlign=include.align %}

{% unless imgAlt %}
  {% assign imgAlt = site.data.i18n[ 'app_screenshot_alt' ][ lang ] %}
{% endunless %}

{% if description %}
  {% assign imgColSpec = "col-12 col-sm-6 col-md-4" %}
{% else %}
  {% assign imgColSpec = "col-12 mb-1" %}
{% endif %}

<div class="row mt-1 mb-2">
  {% if "right" != imgAlign %}
    <div class="{{ imgColSpec }} text-center text-sm-left">
      <img src="{{ imgSrc | prepend: "/" | prepend: appId | prepend: "/images/screenshots/" | relative_url }}" 
           alt="{{ imgAlt | normalize_whitespace }}" 
           class="img-fluid mb-1" >
    </div>
  {% endif %}
  

  {% if description %}
    <div class="col-12 col-sm-6 col-md-8">
      {{ description | markdownify }}
    </div>
  {% endif %}

  {% if "right" == imgAlign %}
    <div class="{{ imgColSpec }} text-center text-sm-left">
      <img src="{{ imgSrc | prepend: "/" | prepend: appId | prepend: "/images/screenshots/" | relative_url }}" 
           alt="{{ imgAlt | normalize_whitespace }}" 
           class="img-fluid mb-1" >
    </div>
  {% endif %}
  </div>
