<!-- embed-freame

Include:

- url: URL of the frame to load
- title: for iframe wcag
- fill: boolean to set to true to remove margins on top and bottom
- role: optional role for the container of the video
-->

{% if true == include.fill %}
  {{ assign marginClasses = "mt-0 mb-0" }}
{% else %}
  {{ assign marginClasses = "mt-3 mb-3" }}
{% endif %}

<div role="presentation"
     class="embed-responsive embed-responsive-16by9 {{marginClasses}}" >
    <iframe class="embed-responsive-item"
            src="{{ include.url }}"
            allowfullscreen
            title="{{ include.title }}"></iframe>
</div>
