
<div class="link-card col-12 col-sm-6 col-md-4 col-lg-3 text-center" >
  <div class="fx-flat-popin fx-light-zoom fx-medium-shadow ml-1 mr-1 mt-1 mb-1 pl-1 pr-1 pt-1 pb-1">
    
    <div class="mb-1">
      <a href="{{ include.href }}" >
        <img src="{{ include.image}}" alt="{{ include.imageAlt }}"
             class="img-fluid text-center" >
      </a>
    </div>
    
    
    {% if include.name[ page.lang ] %}
      {% assign theName = include.name[ page.lang ] %}
    {% else %}
      {% assign theName = include.name %}
    {% endif %}
    
    
    {% if theName.size > 12 %}
    	{% assign nameClass="small-md-up" %}
    {% else %}
	    {% assign nameClass="" %}
    {% endif %}
    
    <a href="{{ include.href }}" class="{{ nameClass }}">{{ theName }}</a>
    
    {% if include.description %}
      {% if include.description[ page.lang ] %}
        {% assign theDescription = include.description[ page.lang ] %}
      {% else %}
        {% assign theDescription = include.description %}
      {% endif %}
      
      <p class="link-details text-left small mt-1 mb-0">{{ theDescription }}</p>
    {% endif %}
  </div>
</div>
