<!--

DISPLAY A LIST OF LINK TO ONLINE SHOP

Inputs:

- shopList: a list of array where each item has the two items:
  item[0] is shopId
  item[1] is item URL in the specified shop

This rely on the 'store' data collection.

-->
{% assign shopList=include.shopList %}
{% assign titleKey=include.titleKey %}

{% if titleKey %}
  {% assign title=site.data.i18n[ titleKey ][ lang ] %}
{% endif %}

{% if shopList %}
  {% if title %}
    <h3 class="h4">{{ title }}</h3>
  {% endif %}

  <ul class="list-unstyled list-inline text-xs-center">
    {% for shop in shopList %}
      {% assign shopId  = shop[ 0 ] %}
      {% assign shopURL = shop[ 1 ] %}

      {% assign shopInfo = site.data.store | where: "id", shopId | first %}

      {% if shopInfo.name[ lang ] %}
        {% assign shopName = shopInfo.name[ lang ] %}
      {% else %}
        {% assign shopName = shopInfo.name %}
      {% endif %}

      {% if shopInfo.badge[ lang ] %}
        {% assign shopIcon = shopInfo.badge[ lang ] %}
      {% else %}
        {% assign shopIcon = shopInfo.badge %}
      {% endif %}

    <li class="list-inline-item mr-1 mb-1">
      {% include widgets/shop-link.html name=shopName icon=shopIcon url=shopURL %}
    </li>

    {% endfor %}
  </ul>      
{% endif %}
    