---
layout: naked
---

{% assign lang = page.lang %}

{% assign matchingBook = site.data.books | where: "id", page.id %}
{% assign book = matchingBook.first %}
  

{% if book.title[ lang ] %}
  {% assign bookTitle = book.title[ lang ] %}
{% else %}
  {% assign bookTitle = book.title %}
{% endif %}
{% assign page.title = bookTitle %}


{% if book.subTitle[ lang ] %}
  {% assign bookSubTitle = book.subTitle[ lang ] %}
{% else %}
  {% assign bookSubTitle = book.subTitle %}
{% endif %}

{% if book.shortDescription[ lang ] %}
  {% assign description = book.shortDescription[ lang ] %}
{% else %}
  {% assign description = book.shortDescription %}
{% endif %}

{% if book.slogan[ lang ] %}
  {% assign slogan = book.slogan[ lang ] %}
{% else %}
  {% assign slogan = book.slogan %}
{% endif %}

{% include page/header.html title=bookTitle %}
<section class="container pt-0">
  <article role="main">
    <header class="container-fluid pl-0 pr-0">
      <h2 class="text-left w-100 mb-1 book-title">
        {{ bookTitle }}
      </h2>
      <div class="opening-book">
        <img src="{{ book.cover.medium  }}" 
             alt="{{ site.data.i18n[ 'book_cover_alt' ][ lang ] | replace: "$1", bookTitle }}"
             class="fx-book-cover">
      </div>
      <em class="text-muted small">{{ bookSubTitle }}</em>

      {% if page.summary %}
        <p>
          {{ page.summary | markdownify }}
        </p>
      {% endif %}
    </header>

    <div class="mt-3 mb-2">
      {% if book.youtube and book.youtube.intro  %}
        {% assign introVideo = book.youtube.intro %}

        {% if book.youtube.intro[ lang ] %}
          {% assign introVideo = book.youtube.intro[ lang ] %}
        {% endif %}
      {% endif %}

      {% if introVideo %}
        {% assign playerFrameTitle = site.data.i18n[ 'youtube_frame' ][ lang ] %}
        {% include widgets/youtube.html videoId=introVideo title=playerFrameTitle %}
      {% endif %}
    </div>

    <div class="row">
      <div class="col-12 col-md-9 mt-2">
        {{ content }}
      </div>

      <div class="col-12 col-md-3 mt-2">
        <aside>
          {% if slogan %}
            <p class="text-muted">{{ slogan }}</p>
          {% endif %}

          {% include widgets/shop-link-list.html shopList=book.shop titleKey='book_buyNow_title' %}

          {% if page.sideNote %}
          <div class="small">
            {{ page.sideNote | markdownify }}
          </div>
          {% endif %}


          {% if book.youtube.demo %}
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">
                  {{ site.data.i18n[ 'app_demoVideo_title' ][ lang ] }}
                </h4>
              </div>
              <ul class="list-unstyled">
              {% for videoId in book.youtube.demo %}
                <li class="mb-1 text-right">
                  {% include widgets/youtube.html videoId=videoId fill=true %}

                  <a href="https://www.youtube.com/watch?v={{videoId}}" 
                     target="_blank" 
                     class="text-right small">
                    {{ site.data.i18n[ 'youtube_link' ][ lang ] }}
                  </a>
                </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </aside>
      </div>
    </div>
  </article>

  {% assign pageCategory = page.category %}
  {% assign listOfPosts = site.categories[pageCategory]  %}

  {% if listOfPosts %}
    <hr class="fine" >

    <article>
      <header>
        {% include page/section-title.html 
            title="Articles" %}
      </header>

        <ul class="list-group list-of-post">
            {% for post in listOfPosts %}
                <li class='list-group-item'>
                    <div class="media">
                        <div class="media-body">
                            <div class="m-b-2">
                                <h3 class="media-heading" >
                                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                </h3>
                                <div><small class="">{{ post.date | date: "%Y %b %-d" }}</small></div>
                            </div>

                            <div class="media-body">{{ post.excerpt }}</div>
                        </div>

                        {% if post.logo %}
                            <div class="media-right text-right" >
                                <img class="media-object" src="/img/icon-posts/{{post.logo}}.png" width="92" alt="Logo">
                            </div>
                        {% endif %}

                    </div>
                </li>
            {% endfor %}
        </ul>
    </article>
  {% endif %}

</section>

{% include page/footer.html %}
