---
layout: default
---

{% assign lang = page.lang %}

{% assign matchingApp = site.data.applications | where: "id", page.id %}
{% assign app = matchingApp.first %}
  
{% if app.name[ lang ] %}
  {% assign appName = app.name[ lang ] %}
{% else %}
  {% assign appName = app.name %}
{% endif %}

{% if app.shortDescription[ lang ] %}
  {% assign description = app.shortDescription[ lang ] %}
{% else %}
  {% assign description = app.shortDescription %}
{% endif %}

{% if app.slogan[ lang ] %}
  {% assign slogan = app.slogan[ lang ] %}
{% else %}
  {% assign slogan = app.slogan %}
{% endif %}

<article>
  <header>
    {% include page/section-title.html title=appName src=app.icon.default fxClasses="fx-app-icon-shadow" %}
  </header>
  
  {% if app.youtube and app.youtube.intro  %}
    {% assign introVideo = app.youtube.intro %}
    
    {% if app.youtube.intro[ lang ] %}
      {% assign introVideo = app.youtube.intro[ lang ] %}
    {% endif %}
  {% endif %}
  
  {% if introVideo %}
    {% include widgets/youtube.html videoId=introVideo %}
  {% endif %}
  
  <div class="row">

    <div class="col-xs-12 col-sm-9 mt-2">
      {{ content }}
    </div>

    <div class="col-xs-12 col-sm-3 mt-2">
      {% if slogan %}
        <p class="text-muted">{{ slogan }}</p>
      {% endif %}
      
      {% include widgets/shop-link-list.html shopList=app.shop titleKey='app_getNow_title' %}
      
      {% if page.sideNote %}
      <div class="small">
        {{ page.sideNote | markdownify }}
      </div>
      {% endif %}
      
      
      {% if app.youtube.demo %}
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">
              {{ site.data.i18n[ 'app_demoVideo_title' ][ lang ] }}
            </h4>
          </div>
          <ul class="list-unstyled">
          {% for videoId in app.youtube.demo %}
            <li class="mb-1 text-xs-right">
              {% include widgets/youtube.html videoId=videoId fill=true %}
              
              <a href="https://www.youtube.com/watch?v={{videoId}}" 
                 target="_blank" 
                 class="text-xs-right small">
                {{ site.data.i18n[ 'youtube_link' ][ lang ] }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</article>


{% assign pageCategory = page.category %}
{% assign listOfPosts = site.categories[pageCategory]  %}

{% if listOfPosts %}
  <hr class="fine" >

  <article>
    <header>
      {% include page/section-title.html 
          title="Articles" %}
    </header>

      <ul class="list-group list-of-post">
          {% for post in listOfPosts %}
              <li class='list-group-item'>
                  <div class="media">
                      <div class="media-body">
                          <div class="m-b-2">
                              <h3 class="media-heading" >
                                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                              </h3>
                              <div><small class="">{{ post.date | date: "%Y %b %-d" }}</small></div>
                          </div>

                          <div class="media-body">{{ post.excerpt }}</div>
                      </div>

                      {% if post.logo %}
                          <div class="media-right text-xs-right" >
                              <img class="media-object" src="/img/icon-posts/{{post.logo}}.png" width="92" alt="Logo">
                          </div>
                      {% endif %}

                  </div>
              </li>
          {% endfor %}
      </ul>
  </article>
{% endif %}