---
layout: default
---


<article role="main" >
  <header>
    {% include page/section-title.html title=page.title src=page.logoImage %}
  </header>
    
  {{ content }}
  
  {% if page.ibooks_intro %}
      {% include iBooks-link.html message=page.ibooks_intro link=site.ibooks_link label=site.ibooks_link_alt %}
  {% endif %}
</article>

{% assign pageCategory = page.category %}
{% assign listOfPosts = site.categories[pageCategory]  %}

{% if listOfPosts %}
  <article>
    <header>
      {% include page/section-title.html 
          title="Articles" %}
    </header>

      <ul class="list-group list-of-post">
          {% for post in listOfPosts %}
              <li class='list-group-item'>
                  <div class="media">
                      <div class="media-body">
                          <div class="m-b-2">
                              <h3 class="media-heading" >
                                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                              </h3>
                              <div><small class="">{{ post.date | date: "%Y %b %-d" }}</small></div>
                          </div>

                          <div class="media-body">{{ post.excerpt }}</div>
                      </div>

                      {% if post.logo %}
                          <div class="media-right text-xs-right" >
                              <img class="media-object" src="/img/icon-posts/{{post.logo}}" width="92" alt="Logo">
                          </div>
                      {% endif %}

                  </div>
              </li>
          {% endfor %}
      </ul>
  </article>
{% endif %}