---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% include post_header.html title=page.title date=page.date author=page.author logo=page.logo %}
        </div>
        <div class="col-xs-12 col-md-4">
            {% include google-search.html %}
        </div>
    </div>

    {% include youtube.html video_id=page.youtube_id %}
    
    <div itemprop="articleBody">
        {{ content }}
    </div>
</article>
