---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="main">
    <header class="media mb-3">
        {% if page.logo %}
          {% assign iconFile = page.logo %}
        {% else %}
          {% assign iconFile = "default-post.svg" %}
        {% endif %}

        {% assign iconLabel = site.data.i18n.postIconLabels[ iconFile ][ page.lang ] %}
        
        {% if page.logo %}
        <div class="media-left" >
            <img class="media-object" src="/images/icons-categories/{{ iconFile }}" width="92px" alt="{{ iconLabel }}">
        </div>
        {% endif %}
        
        <div class="media-body">
            <h2 class="media-heading text-xs-left" >{{ page.title }}</h2>
            {% if page.subtitle %}
              <div class="text-muted">{{ page.subtitle }}</div>
            {% endif %}
            <div><small class="">{{ page.date | date: "%Y-%m-%d" }}</small></div>
        </div>
    </header>
    
    <div class="container" itemprop="articleBody" >
      {% if page.youtube_id %}
        {% assign videoTitle = site.data.i18n.post.inline_video[ page.lang ] %}
        {% include widgets/youtube.html videoId=page.youtube_id title=videoTitle%}
        <hr class="hidden-md-up mt-3">
      {% endif %}

      <div class="row mt-3">
        <div class="col-xs-12 col-md-8 col-lg-9">
        {{ content }}
        </div>
        
        <div class="col-xs-12 col-md-4 col-lg-3">
          <aside>
            {% if page.downloads %}
            <h3 class="h4">{{ site.data.i18n.download_now[ page.lang ] }}</h3>
              {% for item in page.downloads %}
                {% include widgets/download_link.html name=item.name url=item.url tip=item.tip %}
              {% endfor %}
            {% endif %}
            
            {% if page.youtube_id %}
              {% assign ytLink = site.data.ownedLinks | where_exp: "item", "item.service == 'YouTube'" | first %}

              {% if ytLink.name[ page.lang ] %}
                {% assign theName = ytLink.name[ page.lang ] %}
              {% else %}
                {% assign theName = ytLink.name %}
              {% endif %}
              
              <h3 class="h4">
                <img class="social-icon img-as-inline-icon" 
                     src="{{ "/images/social/" | append: ytLink.icon | relative_url }}" 
                     alt="{{ site.data.i18n.download_iconAlt[ page.lang ] }}">
                {{ site.data.i18n.post.aside.subscribe_heading[ page.lang ] }}
              </h3>
              {{ site.data.i18n.post.aside.subscribe_text[ page.lang ] | markdownify }}
            {% endif %}
            
            {% if page.music %}
              <h3 class="h4">{{ site.data.i18n.music_label[ page.lang ] }}</h3>
              {% include widgets/music_info.html track=page.music.track artist=page.music.artist %}
            {% endif %}
          </aside>
        </div>
      </div>
    </div>
</article>
